*{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


Body{
   
    background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
    
    width: 99%;
}

.logo{
    width: 300px;
    height: 280px;
    position: absolute;
    top: -62px;
}

.footer{
    position: relative;
    height: 50px;
    color: white;
    overflow-y: hidden;
    background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
    width: 101%;
    margin-top: 1160px;
    margin-left: -10px;
}




.footertext {
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
}


.blikje2{
    margin-left: 35vw;
    position: absolute;
    margin-top: 140px;
}

h1 {
    font-size: 4vh;
    margin-left: 30vw;
    position: absolute;
    margin-top: 120px;
    color: white;
    position: absolute;

}

.circle {
    position: absolute;
    top: 900px;
    text-align: center;
    left: 250px
}


p{
    color: white;
    margin-top: 0px;
    margin-left: -50px;
}

.textmain1 {
    margin-top: 14vw;
    position: absolute;
    text-align: center;
    margin-left: 17vw;
    font-size: 20px;

}


main {
    margin-top: 20px;
}


#menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 42px;
    margin-left: 800px;
    
}



.hoofdnav {
    position: relative;
    padding-left: 40px;
    top: 0px;
    text-decoration: none;
    list-style: none;
    font-size: 40px;
    color: white;
    z-index: 2;
    
    
    
    
}

a:hover{
    text-decoration: underline;
}





@media (min-width : 319px) and (max-width: 480px) {

    .textmain1 {
        font-size: small;
        margin-top: -15px;
    }
    
    .textmain {
        margin-top: -20px;
        margin-left: 60px;
    }

    .logo {
        width: 120px;
        height: 150px;
        margin-top: 20px;
    }

    .nav {
        margin-right: 100vw;
    }




}

   








@media (min-width: 768px) and (max-width: 1024px) {
    
 
    h1 {
        font-size: 30px;
    }   
 
    .textmain {
        margin-left: -6vw;
        margin-top: -17vw;
        
    }

    p {
        margin-top: 0px;

    }
    .textmain1 {
        text-align: center;
        font-size: 15px;
        margin-top: -4vw;
        position: absolute;
        margin-left: 0vw;
        
    }
 
    .logo {
        width: 160px;
        height: 200px;
    }
    
    .footer {
        margin-top: 53vw;
    }

    .footertext {
        margin-top: 1px;
    }

    .circle {
        display: none;
    }

   .blikje2 {
       display: none;
   }





}   
   




@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape) { 

    p {
        margin-top: -1vw;
    }
    
    main {
        margin-top: -170px;
    }

    .textmain1 {
        font-size: 10px;
        margin-top: 0vw;
        margin-left: 60px;
    }

    .textmain {
        margin-left: -135px;
        font-size: smaller;
        position: absolute;
        margin-top: 10px;
    }

        .footer {
            margin-top: 160px;
            position: absolute;
        }

        .footertext {
            margin-top: 3px;
            
        }


}

@media screen and (max-width: 767px) {


    Body{
   
        background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
        height: 0;
        width: 99%;
    }
    

        .textmain {
            margin-left: 20px;
        }

        .textmain1 {
            margin-left: -12px;
        }

        .footer {
            margin-top: 1px;
        }
        



}