*{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


Body{
   
    background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
    
    width: 99%;
}

.logo{
    width: 300px;
    height: 280px;
    position: absolute;
    top: -62px;
}

.footer{
    position: relative;
    height: 50px;
    color: white;
    overflow-y: hidden;
    background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
    width: 101%;
    margin-top: 1160px;
    margin-left: -10px;
}




.footertext {
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
}


.blikje2{
    margin-left: 35vw;
    position: absolute;
    margin-top: 140px;
}

h1 {
    font-size: 4vh;
    margin-left: 30vw;
    position: absolute;
    margin-top: 120px;
    color: white;
    position: absolute;

}

.circle {
    position: absolute;
    top: 900px;
    text-align: center;
    left: 250px
}


p{
    color: white;
    margin-top: 0px;
    margin-left: -50px;
}

.textmain1 {
    margin-top: 14vw;
    position: absolute;
    text-align: center;
    margin-left: 17vw;
    font-size: 20px;

}


main {
    margin-top: 20px;
}


#menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 42px;
    margin-left: 800px;
    
}



.hoofdnav {
    position: relative;
    padding-left: 40px;
    top: 0px;
    text-decoration: none;
    list-style: none;
    font-size: 40px;
    color: white;
    z-index: 2;
    
    
    
    
}

a:hover{
    text-decoration: underline;
}





@media screen and (max-width: 767px){
    .textmain1 {
        font-size: small;
        margin-top: -100px;
        margin-left:30px;
    }
    
    h1{
        position: relative;
        top: -100px;
        left: 15px;
        
        
    }

    
    

    .circle{display: none;}
    
    #menu{
        display: block;
        list-style: none;
    }

    .blikje2{
        position: absolute;
        left:-575px;
        top: 500px;
        height: 1000px;
        width: 1000px;
    }

    .logo{
        display: block;
        width: 140px;
        height: 150px;
        position: relative;
        top: -50px;
    }
    
    .footer{
        
        height: 50px;
        color: white;
        margin-top: 1000px;
        background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
        width: 101%;
        margin-left: -10px;
    }
    
    .footertekst{
        display: block;
        position: relative;
        font-size: 12px;
        color:  white;
      
    }
    
    #menu{
        display: block;
        list-style: none;
        width: 400px;
    }
    
  
    
    
    
    .hoofdnav {
        display: block;
        position: relative;
        top: 0px;
        left: -40px;
        padding-left: 5px;
        text-decoration: none;
        list-style: none;
        float: left;
        font-size: 15px;
        color: white;
        
        
        
    }
    
    a:hover{
        text-decoration: underline;
        
    }
    
    .nav{
        position: absolute;
        top: -20px;
        left: -650px;
    }




}

   





/*tablet potrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) { 
    *{
        font-family: 'Roboto', sans-serif;
    }
    
    .textmain1 {
        
        margin-top: -100px;
        margin-left:100px;
    }
    
    h1{
        position: absolute;
        top: 30px;
        left: 60px;
        
        
    }
    
    Body{
        display: block;
        background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
        width: 99%;
    }
    
    .logo{
        display: block;
        width: 200px;
        height: 190px;
        position: relative;
        top: -50px;
    }
    
    .footer{
        
        height: 50px;
        color: white;
        margin-top: 1000px;
        background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
        width: 101%;
        margin-left: -10px;
    }
    
    .footertekst{
        display: block;
        position: relative;
        font-size: 12px;
        color:  white;
      
    }
    
    
    
.circle{display: none;}
    
    
    
#menu{
    display: block;
    list-style: none;
    
    
    
}

    .hoofdnav {
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        padding-left: 5px;
        text-decoration: none;
        list-style: none;
        float: left;
        font-size: 10px;
        color: white;
        
        
    }
    
    a:hover{
        text-decoration: underline;
        
    }
   

    .blikje2{
        position: absolute;
        top: 580px;
        left: -525px;
    }
    
    
}


