*{
    font-family: 'Roboto', sans-serif;
}


/*bigscreen*/
@media only screen and (min-width: 1024px)  { 

    body{
        background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
        width: 99%;
    }
    
    .logo{
        width: 300px;
        height: 280px;
        position: relative;
        top: -70px;
    }
    
    .footer{
        height: 50px;
        color: white;    
        background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
        width: 101%;   
        margin-left: -10px;
    }
    
    .footer-text{
        margin-left: 10px;
        font-size: 20px;
        margin-top: 20px;
      
    }
    
    header  {
        display: flex;
    }

    article{
        display: flex;
    }
    
    #menu{
        display: flex;
        flex-direction: row;
        list-style: none;
        
    }
    
    .hoofdnav {
        position: relative;
        left: 500px;
        top: 28px;
        padding-left: 40px;
        text-decoration: none;
        list-style: none;
        font-size: 40px;
        color: white;
        
        
    }
    
    a:hover{
        text-decoration: underline;
    }
    
    #icon1{
        width: 30px;
    }
      
    #socials{
        font-size: 25px; 
        margin-left: 35px;
    }
    
    #socials p{
        font-weight: bolder;
    }

    #socials img{
        padding-right: 10px;
    }
    
    #faq{  
        border: 4px solid white;
        color: white;
        font-size: 25px;
        font-weight: bolder;   
        margin-left: 100px;
        margin-bottom: 80px;
    }
    
    #faq p{
        font-size: 30px;
        text-align: center;
    }

   #faq ul {
       margin-right: 10px;
   }
    
}

/*tablet landscape and portrait*/
@media only screen and (min-width:768px) and (max-width:1024px){ 

    body{
        background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
        width: 99%;
    }
    
    .logo{
        width: 300px;
        height: 280px;
        position: relative;
        top: -70px;
    }
    
    .footer{
        height: 50px;
        color: white;    
        background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
        width: 101%;   
        margin-left: -10px;
    }
    
    .footer-text{
        margin-left: 10px;
        font-size: 20px;
        margin-top: 20px;
      
    }
    
    header  {
        display: flex;
    }

    article{
        display: flex;
        
    }
    
    #menu{
        list-style: none;
        display: flex;
        padding-top: 30px;
        padding-left: 0;
    }
    
    .hoofdnav {
        padding-left: 25px;
        text-decoration: none;
        list-style: none;
        font-size: 30px;
        color: white;
    }
    
    a:hover{
        text-decoration: underline;
    }
    
    #icon1{
        width: 30px;
    }
      
    #socials{
        font-size: 25px; 
        margin-left: 35px;
    }
    
    #socials p{
        font-weight: bolder;
    }

    #socials img{
        padding-right: 10px;
    }
    
    #faq{  
        border: 4px solid white;
        color: white;
        font-size: 23px;
        font-weight: bolder;   
        margin-left: 30px;
        margin-bottom: 100px;
        margin-right: 20px;
    }
    
    #faq p{
        font-size: 30px;
        text-align: center;
    }

   #faq ul {
       margin-right: 10px;
   }
 
    
}

/* tablet landscape (kan deze weg?)*/
@media (min-width:768px) and (max-width:1024px) {
    body{
        background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
        width: 99%;
    }
    
    .logo{
        width: 300px;
        height: 280px;
        position: relative;
        top: -70px;
    }
    
    .footer{
        height: 50px;
        color: white;    
        background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
        width: 101%;   
        margin-left: -10px;
    }
    
    .footer-text{
        margin-left: 10px;
        font-size: 20px;
        margin-top: 20px;
      
    }
    
    header  {
        display: flex;
    }

    article{
        display: flex;
        
    }
    
    #menu{
        list-style: none;
        display: flex;
        padding-top: 30px;
        padding-left: 0;
    }
    
    .hoofdnav {
        padding-left: 25px;
        text-decoration: none;
        list-style: none;
        font-size: 30px;
        color: white;
    }
    
    a:hover{
        text-decoration: underline;
    }
    
    #icon1{
        width: 30px;
    }
      
    #socials{
        font-size: 25px; 
        margin-left: 35px;
    }
    
    #socials p{
        font-weight: bolder;
    }

    #socials img{
        padding-right: 10px;
    }
    
    #faq{  
        border: 4px solid white;
        color: white;
        font-size: 23px;
        font-weight: bolder;   
        margin-left: 30px;
        margin-bottom: 100px;
        margin-right: 20px;
    }
    
    #faq p{
        font-size: 30px;
        text-align: center;
    }

   #faq ul {
       margin-right: 10px;
   }
 

}

/*phone EN tablet portrait*/
@media screen and (max-width:768px){
    body{
        background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
        width: 99%;
    }
    
    .logo{
        height: 140px;
        position: relative;
    }
    
    .footer{
        height: 50px;
        color: white;    
        background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
        width: 101%;   
        margin-left: -10px;
    }
    
    .footer-text{
        margin-left: 10px;
        font-size: 20px;
        margin-top: 20px;
      
    }
    
    header  {
        display: flex;
    }

    article{
        display: flex;
        
    }
    
    #menu{
        list-style: none;
        display: flex;
        padding-top: 30px;
        padding-left: 0;
    }
    
    .hoofdnav {
        padding-left: 25px;
        text-decoration: none;
        list-style: none;
        font-size: 22px;
        color: white;
    }
    
    a:hover{
        text-decoration: underline;
    }
    
    #icon1{
        width: 30px;
    }
      
    #socials{
        font-size: 25px; 
        margin-left: 35px;
    }
    
    #socials p{
        font-weight: bolder;
    }

    #socials img{
        padding-right: 10px;
    }
    
    #faq{  
        border: 4px solid white;
        color: white;
        font-size: 23px;
        font-weight: bolder;   
        margin-left: 30px;
        margin-bottom: 100px;
        margin-right: 20px;
    }
    
    #faq p{
        font-size: 30px;
        text-align: center;
    }

   #faq ul {
       margin-right: 10px;
   }
 
    
   
}

/*landscape phone (kan deze weg)*/
@media (min-width : 375px) and (max-width:768px){
    body{
        background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
        width: 99%;
    }
    
    .logo{
        width: 300px;
        height: 280px;
        position: relative;
        top: -70px;
    }
    
    .footer{
        height: 50px;
        color: white;    
        background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
        width: 101%;   
        margin-left: -10px;
    }
    
    .footer-text{
        margin-left: 10px;
        font-size: 20px;
        margin-top: 20px;
      
    }
    
    header  {
        display: flex;
    }

    article{
        display: flex;
        
    }
    
    #menu{
        list-style: none;
        display: flex;
        padding-top: 30px;
        padding-left: 0;
    }
    
    .hoofdnav {
        padding-left: 25px;
        text-decoration: none;
        list-style: none;
        font-size: 30px;
        color: white;
    }
    
    a:hover{
        text-decoration: underline;
    }
    
    #icon1{
        width: 30px;
    }
      
    #socials{
        font-size: 25px; 
        margin-left: 35px;
    }
    
    #socials p{
        font-weight: bolder;
    }

    #socials img{
        padding-right: 10px;
    }
    
    #faq{  
        border: 4px solid white;
        color: white;
        font-size: 23px;
        font-weight: bolder;   
        margin-left: 30px;
        margin-bottom: 100px;
        margin-right: 20px;
    }
    
    #faq p{
        font-size: 30px;
        text-align: center;
    }

   #faq ul {
       margin-right: 10px;
   }
 
    
   
    
}


