*{
    font-family: 'Roboto', sans-serif;
}


#slideShow{
    position: absolute;
    top: 230px;
    left: 730px;
    display: block;
    height: 510px;
    width: 700px;
    border-style: solid;
    border-color: white;   
}



header{
    display: flex;
    flex-direction: row;
}

Body{
    display: block;
    background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
    width: 99%;
    
}

.logo{
    display: block;
    width: 300px;
    height: 280px;
    position: relative;
    top: -70px;
}

.footer{
    
    height: 50px;
    color: white;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
    width: 101%;
    margin-left: -10px;
}

.footertext{
    display: block;
    position: absolute;
    top: 40px;
    margin-left: 15px;
    font-size: 20px;
    color: black;
  
}



.adblikjes{
    display: block;
    width: 200px;
    height: 200px;
    
}

.drieblikjes{
    display: block;
    position: relative;
    left: -280px;
    top: -150px;
    width: 1200px;
    height: 700px;
}


#menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}

.hoofdnav {
    position: relative;
    left: 500px;
    top: 28px;
    padding-left: 40px;
    text-decoration: none;
    list-style: none;
    font-size: 40px;
    color: white;
    
    
}

a:hover{
    text-decoration: underline;
}


.backgroundImage{
    width:300px;
    height:300px;
}


/*telefoon*/

@media screen and (max-width: 767px){
    *{
        font-family: 'Roboto', sans-serif;
    }
    
    
    
    Body{
        display: block;
        background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
        width: 99%;
    }
    
    .logo{
        display: block;
        width: 140px;
        height: 150px;
        position: relative;
        top: -50px;
    }
    
    .footer{
        
        height: 50px;
        color: white;
        margin-top: 525px;
        background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
        width: 101%;
        margin-left: -10px;
    }
    
    .footertekst{
        display: block;
        position: relative;
        font-size: 12px;
        color:  white;
      
    }
    
    #menu{
        display: block;
        list-style: none;
        width: 400px;
    }
    
    .adblikjes{
        display: block;
        width: 200px;
        height: 200px;
    }

   
    
    .drieblikjes{
        display: block;
        position: relative;
        top: -100px;
        left: -185px;
        width: 700px;
        height: 500px;
    }
    
    .images{
        display: block;
        position: relative;
        top: 100px;
        width: 900px;
        height: 600px;
    }
    
    
    
    
    .hoofdnav {
        display: block;
        position: relative;
        top: 0px;
        left: -40px;
        padding-left: 5px;
        text-decoration: none;
        list-style: none;
        float: left;
        font-size: 15px;
        color: white;
        
        
        
    }
    
    a:hover{
        text-decoration: underline;
        
    }
    
    #slideShow{
        position: absolute;
        top: 600px;
        left: 15px;
        display: block;
        height: 400px;
        width: 330px;
        border-style: solid;
        border-color: white;   
    }


}

/*landscape phone*/
@media (min-width : 319px) and (max-width: 480px){

}

/*ipad landscape*/

@media (min-width: 768px) and (max-width: 1024px) {
    
    
}

/*tablet potrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) { 
    *{
        font-family: 'Roboto', sans-serif;
    }
    
    
    
    Body{
        display: block;
        background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
        width: 99%;
    }
    
    .logo{
        display: block;
        width: 200px;
        height: 190px;
        position: relative;
        top: -50px;
    }
    
    .footer{
        
        height: 50px;
        color: white;
        margin-top: 525px;
        background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
        width: 101%;
        margin-left: -10px;
    }
    
    .footertekst{
        display: block;
        position: relative;
        font-size: 12px;
        color:  white;
      
    }
    
    #menu{
        display: block;
        list-style: none;
        
    }
    
    .adblikjes{
        display: block;
        width: 200px;
        height: 200px;
    }
    
    .drieblikjes{
        display: block;
        position: relative;
        top: -130px;
        left: -90px;
        width: 900px;
        height: 600px;
    }
    
    .images{
        display: block;
        position: relative;
        top: 100px;
        width: 900px;
        height: 600px;
    }
    
    
    
    
    .hoofdnav {
        display: block;
        position: relative;
        top: 10px;
        left: 70px;
        padding-left: 15px;
        text-decoration: none;
        list-style: none;
        float: left;
        font-size: 30px;
        color: white;
        
        
    }
    
    a:hover{
        text-decoration: underline;
        
    }
    
    #slideShow{
        position: absolute;
        top: 670px;
        left: 60px;
        display: block;
        height: 400px;
        width: 650px;
        border-style: solid;
        border-color: white;   
    }
}