*{
    font-family: 'Roboto', sans-serif;
}



Body{
   
    background: linear-gradient(58deg, rgba(77,255,248,1) 21%, rgba(255,99,162,1) 61%); 
    
    width: 99%;
}

.logo{
    width: 300px;
    height: 280px;
    position: relative;
    top: -70px;
}

.footer{
    height: 50px;
    color: white;
    
    background: linear-gradient(90deg, rgba(255,99,162,1) 49%, rgba(77,255,248,1) 50%);
    width: 101%;
    
    margin-left: -10px;
}

.footer-text{
    display: none;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 20px;
  
}

#menu{
    list-style: none;
    
}

.drieblikjes{
    width: 100px;
    height: 100px;

}

.hoofdnav {
 
    position: relative;
    top: -250px;
    left: 700px;
    padding-left: 80px;
    text-decoration: none;
    list-style: none;
    float: left;
    font-size: 35px;
    color: white;
    
    
}

a:hover{
    text-decoration: underline;
}

